html {
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

.document {
	display: grid;
	padding: 10px;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(5, 1fr);
}

.header {
	grid-row: 1;
	grid-column: 4;
	display: grid;
	grid-template-rows: repeat(8, 1fr); 
	grid-template-columns: repeat(8, 1fr);
}


img.profile-picture {
	max-height: 200px; 
    max-width: 200px; 
    height: auto;
    width: auto;
 	border-radius: 100px;
    overflow: hidden;
    perspective: 1px;
    grid-row: 1;
	grid-column: 1;
}

.intro {
	grid-row: 1;
	grid-column: 3;
}