html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

.document {
	display: grid;
	grid-template-columns: 25% 50% 25%;
  	grid-template-rows: 25% 50% 25%;
}

.header {
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 2;
	grid-column-end: 2;
}

img.profile-picture {
	max-height: 250px; 
    max-width: 250px; 
    height: auto;
    width: auto;
 	border-radius: 100px;
    overflow: hidden;
    perspective: 1px;
}