html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

.document {
	display: grid;
	grid-template-columns: 20% 60% 20%;
  	grid-template-rows: 25% 50% 25%;
}


.header {
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 2;
	grid-column-end: 2;
	display: grid;
	grid-template-rows: repeat(8, 1fr); 
	grid-template-columns: repeat(8, 1fr);
}


img.profile-picture {
	max-height: 200px; 
    max-width: 200px; 
    height: auto;
    width: auto;
 	border-radius: 100px;
    overflow: hidden;
    perspective: 1px;
    grid-row-start: 1;
	grid-row-end: 8;
	grid-column-start: 1;
	grid-column-end: 4;
}